%p#notice= notice
%p
  %strong First name:
  = @profile.first_name
%p
  %strong Last name:
  = @profile.last_name
%p
  %strong Website url:
  = @profile.website_url
%p
  %strong Location:
  = @profile.location
%p
  %strong Description:
  = @profile.description
%p
  %strong Facebook:
  = @profile.facebook_id
%p
  %strong Linkedin:
  = @profile.linkedin_id
%p
  %strong Google plus:
  = @profile.google_plus_id
