= simple_form_for @comment, :html => { :class => 'form-horizontal' } do |f|
  = f.input :post_id
  = f.input :body
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), |
    comments_path, :class => 'btn btn-default'                   |
