- provide(:title, @title)
.row
  %aside.col-md-4
    %section
      = gravatar_for @user
      %h1= link_to @user.username, @user
      %span
        %b= "#{@user.posts.count}Contribution"
  .col-md-8
    %h3= @title
    %ul.tags= tags_link @user