.clearfix
.item-box{style: 'border-bottom: solid 1px #ccc; 50px; padding-top: 10px;padding-bottom: 30px;'}
  .item-box-container-inner{style: 'margin-left: 0px; padding-left: 0px; padding-right: 0px;'}
    .action-user-icon
      .action-icon
      = link_to gravatar_for(feed_item.user), feed_item.user, {class: 'user-icon'} if feed_item.user
    .item-box-area
      .item-box-header
        .action
          %span.user
            - if feed_item.user
              = link_to feed_item.user.username, feed_item.user
              が#{time_ago_in_words(feed_item.created_at)}前に投稿しました。
        .item-box-title
          - if feed_item.user
            %div{style: 'float: left;'}
              %h1= link_to feed_item.title, user_post_path(feed_item.user, feed_item)
            %ul.tags= tags_link feed_item
