.container.feed-page
  .row
    .col-lg-9
      .header{style:'padding-bottom: 10px;'}
        %h2 プログラミング知識を共有しよう。
        = link_to 'ノウハウ・Tipsを投稿する', new_user_post_path(current_user), class: 'btn btn-primary'
      .stream-container
        %nav
          %ul.nav.nav-tabs
            %li.index-tab{class: current_page?(root_path) ? "active" : ""}
              = link_to 'フィード', root_path
            %li.public_feeds-tab{class: current_page?(home_public_path) ? "active" : ""}
              = link_to 'すべての投稿', home_public_path
            %li.mine-tab.pull-right{class: current_page?(home_mine_path) ? "active" : ""}
              = link_to '自分の投稿', home_mine_path
            %li.stock-tab.pull-right{class: current_page?(home_stock_path) ? "active" : ""}
              = link_to 'ストック', home_stock_path
        .streams.feed-activities{id: 'item-content'}
          .following-stream.active
            %div
              .flush-button
              .activities
                = render 'shared/feed'
                = will_paginate @feed_items
    .col-lg-3
      .well.sidebar-nav{id: 'home-user_info'}
        .left
          = link_to gravatar_for(current_user), current_user
        .right
          .url_name
            = link_to current_user.username, current_user
          .current_user
            %span.count= "#{current_user.posts.count}"
            %span.unit= " Contribution"
