
-if signed_in?

  .container.feed-page
    .row
      //.span8
      .col-lg-9
        .header{style:'padding-bottom: 10px;'}
          //%h2 プログラミング知識を共有しよう。
          %h2 Let's share the programming knowledge.
          = link_to 'ノウハウ・Tipsを投稿する', new_user_post_path(current_user), class: 'btn btn-primary'
        .stream-container
          %nav
            %ul.nav.nav-tabs
              %li.following-tab.active
                = link_to 'フィード', '/'
              %li.public-tab
                = link_to 'すべての投稿', '/'
              %li.mine-tab.pull-right
                = link_to '自分の投稿', '/'
              %li.stock-tab.pull-right      
                = link_to 'ストック', '/'
          .streams.feed-activities{id: 'item-content'}
            .following-stream.active
              %div
                .flush-button
                .activities
                  = render 'shared/feed'
      //.span3
      .col-lg-3
        .well.sidebar-nav{id: 'home-user_info'}
          .left
            = link_to gravatar_for(current_user), user_posts_path(current_user)
          .right
            .url_name
              = link_to current_user.username, user_posts_path(current_user)
            .current_user
              %span.count= "#{current_user.posts.count}"
              %span.unit= " Contribution"
                 
-else
  サインインしてくだしゃい
