= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :login, required: false
    = f.input :password, required: false
  .form-actions
    = f.button :submit, "ログイン"
  %br/
= render "devise/shared/links"

:javascript
    $(function() {
        $('form').bootstrapValidator({
            live: 'enabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
              'user[login]': {
                  validators: {
                      notEmpty: { message: '必須項目です' }
                  }
              }
            }
        });
    });