.clearfix
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :login, required: true
    = f.input :password, required: true
  .form-actions
    = f.button :submit, "ログイン"
  %br/
= render "devise/shared/links"

:javascript
  $(function() {
    validationSettings.addValidator('user[password]', 'notEmpty');
    validationSettings.addValidator('user[login]', 'notEmpty');
    validationSettings.init('form');
  });