- model_class = Post
= simple_nested_form_for [current_user, @post]  do |f|

  %p
    = f.text_field :title, label: false, placeholder: 'タイトル', class: "string optional form-control"

  .form-inline
    = f.fields_for :tags do |t|
      .input-group{class: 'padding_bottom'}
        = t.text_field :name, label: false, class: "col-xs-4 string optional form-control", placeholder: 'タグ'
        .input-group-addon
          = t.link_to_remove fa_icon('remove')
    = f.link_to_add fa_icon('plus-circle', text: 'タグ追加', right: true), :tags

  %br
  %p
    = f.text_area :markdown, label: false, placeholder: 'Markdown',  rows: 10, class: "text optional form-control"
    .bs-example= @post.body.nil? ? 'preview' : @post.body.html_safe

  .text-right
    .btn-group#publish{class: @post.published? ? '' : 'hide'}
      = f.button :submit, class: 'btn-primary'
      %button.btn.dropdown-toggle{'type'=>'button', 'data-toggle'=>'dropdown'}
        %span.caret
      %ul.dropdown-menu.dropdown_left{role: 'menu'}
        %li.btn.btn-success.dropdown_draft
          一時保存
    .btn-group#draft{class: @post.drafted? ? '' : 'hide'}
      = f.button :submit, '一時保存', class: 'btn-success', name: 'post[draft]'
      %button.btn.dropdown-toggle{'type'=>'button', 'data-toggle'=>'dropdown'}
        %span.caret
      %ul.dropdown-menu.dropdown_left{role: 'menu'}
        %li.btn.btn-primary.dropdown_publish
          更新する
        %li.btn.btn-primary.dropdown_limit
          限定共有投稿
    .btn-group#limit{class: @post.limited? ? '' : 'hide'}
      = f.button :submit, '限定共有投稿', class: 'btn-success', name: 'post[limit]'
      %button.btn.dropdown-toggle{'type'=>'button', 'data-toggle'=>'dropdown'}
        %span.caret
      %ul.dropdown-menu.dropdown_left{role: 'menu'}
        %li.btn.btn-primary.dropdown_publish
          更新する
        %li.btn.btn-success.dropdown_draft
          一時保存

    = link_to t('.cancel', default: t('helpers.links.cancel')), user_posts_path, class: 'btn btn-default'
