- model_class = Post
%nav
  %ul.nav.nav-tabs
    %li.index-tab{class: current_page?(drafts_path) ? "active" : ""}
      = link_to '未投稿', drafts_path
    %li.index-tab{class: current_page?(posted_path) ? "active" : ""}
      = link_to '投稿済み', posted_path
.streams.feed-activities{id: 'item-content'}
  .following-stream.active
    %div
      .flush-button
      .activities
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:title)
          %th= model_class.human_attribute_name(:created_at)
          %th= t '.actions', :default => t("helpers.actions")
      %tbody
        - @posts.each do |post|
          %tr
            %td= post.title
            %td= l post.created_at
            %td
              = link_to t('.ref', :default => t("helpers.links.ref")), |
                user_post_path(current_user, post), :class => 'btn btn-default btn-xs'
              = link_to t('.edit', :default => t("helpers.links.edit")), |
                edit_user_post_path(current_user, post), :class => 'btn btn-default btn-xs'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), |
                user_post_path(current_user, post), |
                :method => :delete, |
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
                :class => 'btn btn-xs btn-danger'

    = link_to t('.new', :default => t("helpers.links.new")), |
      new_user_post_path(current_user),                      |
      :class => 'btn btn-primary'                            |