%p
  -if @tag
    %h1= @tag.name
    %table.table-striped.table-bordered
      %tbody
        %tr
          %td
            %h3=@tag.posts.length
            投稿
          %td
            %h3="xx"
            フォロー
          %td
            ="#{ @tag.name }に関する情報が集まっています。現在#{ @tag.posts.length }件の投稿があります。 またxx人のユーザーが#{ @tag.name }タグをフォローしています。"
  -unless @tag
    %h1= current_user.username
    .text-right= link_to 'フォロー', user_posts_path, class: 'btn btn-default'
    
    
%table.table
  %tbody
    - @posts.try :each do |post|
      %tr
        %td        
          = user_link post
          %br
          %h4
            %b= post_link post
          %ul.tags= tags_link post
