- model_class = Post
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table

  %tbody
    - @posts.try :each do |post|
      %tr
        %td        
          //= link_to(current_user.username, user_posts_path(current_user)) + "が#{ date_format post }に投稿"
          = user_link post
          %br
          //%b= link_to post.title, [current_user, post]
          %h4= post_link post
          %ul.tags= tags_link post
          //= post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(' ').html_safe
