.jumbotron
  %h1= @post.title
  %p
    %ul.tags= tags_link @post
  .clearfix
  %br
  %p= link_to '投稿を編集', edit_user_post_path(current_user, @post), class: 'btn btn-default' if current_user.id == @post.user_id
  %p= user_link @post
%p= @post.body.html_safe

%br
%br
コメントを投稿する
= simple_form_for [current_user, @post] do |f|
  = f.fields_for :comments do |c|
    //= c.object.user.username
    .text-right= c.object.created_at
    //= debug c
    = c.input :body, label: false, input_html: { readonly: c.options[:child_index] != @post.comments.length-1 }
  = f.button :submit, 'コメントを投稿する', class: 'btn-primary'
